<p style="color: green"><%= notice %></p>

<%= render @pre_masla %>

<div>
  <%= link_to "Edit this pre masla", edit_pre_masla_path(@pre_masla) %> |
  <%= link_to "Back to pre maslas", pre_maslas_path %>

  <%= button_to "Destroy this pre masla", @pre_masla, method: :delete %>
</div>
