<h1 class="display-1"><%= @user.username.titleize %> (
<% if @user.personal_apper? %>
  <%= @user.masla_id %>
<% else %>
  <%= @count %>
<% end %>
)
</h1>

<% if @user.personal_apper? %>

  <% if current_user&.can_update %>
    <div class="container">
      <div class="card d-inline-block">
        <div class="card-body">
          <%= form_with(model: @user, local: true) do |form| %>
            <div class="form-group">
              <%= form.label :masla_id %>
              <%= form.text_field :masla_id, class: 'form-control' %>
            </div>

            <div class="form-group mt-2">
              <%= form.submit "Update Masla ID", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>

      <% if current_user&.admin? %>
        <div class="card d-inline-block">
          <div class="card-body">
            <%= form_with(model: @user, local: true) do |form| %>
              <div class="form-group">
                <%= form.label :user_role_id, "Select User Role" %><br />
                <%= form.collection_select :user_role_id, UserRole.all, :id, :label, {}, {autocomplete: "user_role", class: 'form-control'} %>
              </div>

              <div class="form-group mt-2">
                <%= form.submit "Update User Role", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @user&.personal_masla.nil? %>
    <%= render 'shared/noMasla' %>
  <% else %>
    <%= render 'shared/displayMasla', masla: @user.personal_masla %>
  <% end %>
<% else %>
  <%= render partial: 'shared/table' %>
<% end %>
