<%= will_paginate @maslas %>
<table class='index table table-hover table-bordered table-striped rounded'>
  <thead>
    <th class="tcorner" scope="col"></th>
    <% @maslas.column_names[1..].each do |col| %>
      <th scope="col"><%= words_from_camelcase(col) %></th>
    <% end %>
    <% @more_cols.each do |col| %>
      <th scope="col"><%= words_from_camelcase(col) %></th>
    <% end %>
    <% if current_user && current_user.username == "admin" %>
      <th scope="col"></th>
    <% end %>
  </thead>
  <tbody class="table-group-divider">
    <% @maslas.each do |masla| %>
      <tr>
        <%= render masla %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @maslas %>
