<td><%= masla.id %></td>
<td><%= link_to masla.uid, masla %></td>
<td><%= masla.typeOfMasla %></td>
<td><%= masla.typeOfInput %></td>
<td>
  <% style_entries(masla.entries)[0...2].each do |entry| %>
    <span><%= entry %></span><br><br>
  <% end %>
  <%= '...' if masla.entries.length > 2 %>
</td>
<td><%= raw(masla.answerEnglish[0..55]) %>...</td>
<td><%= raw(masla.answerUrdu[0..55]) %>...</td>
<td><%= style_date(masla.created_at) %></td>
<td><%= style_date(masla.updated_at) %></td>
<td><%= button_to "Delete", masla, method: :delete %></td>