<td><%= masla.id %></td>
<td><%= link_to masla.uid, masla %></td>
<td><%= masla.typeOfMasla %></td>
<td><%= masla.typeOfInput %></td>
<td><%= masla.created_at.strftime("%d/%m/%Y at %I:%M %p") %></td>
<td><%= masla.updated_at.strftime("%d/%m/%Y at %I:%M %p") %></td>
