<p style="color: green"><%= notice %></p>

<h1>Maslas</h1>
<%# TODO: Fix Maslas with no preMasla %>
<%
=begin%>
 <table>
  <thead>
    <th></th>
    <th>Id</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Masla</th>
    <th>Input</th>
    <th>entries</th>
    <th>answerEnglish</th>
    <th>answerUrdu</th>
    <% @table.columns.each do |col| %>
      <th><%= col.header %></th>
    <% end %>
  </thead>
  <tbody>
    <% @maslas.each do |masla| %>
      <tr>
        <%= render masla, table: @table %>
      </tr>
    <% end %>
  </tbody>
</table>
<%
=end%>

<h4>
 <%= @out.arel_table[Arel.star] %>
</h4>
<table>
  <thead>
    <th></th>
    <% @cols.each do |col| %>
      <th><%= col %></th>
    <% end %>
  </thead>
  <tbody>
    <% @out.each do |masla| %>
      <tr>
        <td><%= masla.id %></td>
        <%= render masla %>
      </td>
    <% end %>
  </tbody>
</table>
<br>
<br> 
