<p style="color: green"><%= notice %></p>

<h1>Maslas</h1>

<table>
  <thead>
    <th></th>
    <th>Id</th>
    <th>Masla</th>
    <th>Input</th>
    <th>Created</th>
    <th>Updated</th>
    <% @table.columns.each do |col| %>
      <th><%= col.header %></th>
    <% end %>
  </thead>
  <tbody>
  <% @table.rows.each do |row| %>
    <tr>
      <%= render row.header %>
      <% row.data.each do |cell| %>
        <td><%= cell %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New masla", new_masla_path %>
