<section class="container-fluid">
  <p style="color: green"><%= notice %></p>

  <div class="container m-5">
    <h1 class="display-1">Masla <%= @masla.id %></h1>
    <small>Created at: <%= style_date_time(@masla.created_at) %></small>
    <br>
    <small>Updated at: <%= style_date_time(@masla.updated_at) %></small>
  </div>

  <div class="container m-5">
    <h2>Masla Info:</h2>
    <div class="row">
      <dt class="col col-auto">maslaType:</dt>
      <dd class="col col-auto"><%= @masla.typeOfMasla %></dd>
    </div>

    <div class="row">
      <dt class="col col-auto">maslaInput:</dt>
      <dd class="col col-auto"><%= @masla.typeOfInput %></dd>
    </div>

      <% @masla.pre_maslas.each do |premasla| %>
    <div class="row">
        <dt class="col col-auto"><%= premasla.premasla %>:</dt>
        <dd class="col col-auto"><%= premasla.value == 't' ? 'True' : premasla.value %></dd>
    </div>
      <% end%>
  </div>

  <% unless @masla.entries.empty? %>
    <div class="container m-5">
      <h2>Entries:</h2>
        <div class="row gx-auto">
          <div class="col col-lg"><h3>Start:</h3></div>
          <div class="col col-lg"><h3>End:</h3></div>
        </div>
        <% style_entries_for_show(@masla.entries).each do |entry| %>
          <div class="row gx-auto">
            <div class="col col-lg"><dd><%= entry[0] %></dd></div>
            <div class="col col-lg"><dd><%= entry[1] %></dd></div>
          </div>
        <% end %>
    </div>
  <% end %>

  <% unless @masla.answerEnglish.blank? %>
    <div class="container m-5">
        <h2>Answers:</h2>
      <div class="row gx-5">
        <div class="col col-lg">
          <h3>English:</h3>
          <p><%= simple_format(@masla.answerEnglish) %></p>
        </div>
        <div dir="rtl" class="urdu col col-lg">
          <h3>اردو:</h3>
          <p><%= simple_format(@masla.answerUrdu) %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container m-5">
    <%# link_to "Edit this masla", edit_masla_path(@masla) %>
    <%= link_to "Back to maslas", maslas_path, :class => "btn btn-secondary m-1" %>
    <%= button_to "Destroy this masla", @masla, method: :delete, :class => "btn btn-secondary m-1" %>
  </div>
</section>
