<!DOCTYPE html>
<html>
  <head>
    <title>HazappBackend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
    <div> Welcome <%= current_user.username.titlecase %> </div>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= button_to "Sign in", new_user_session_path, method: :get  %>
    <% end %>

    <%= yield %>
  </body>
</html>
